<div id="show-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @item.pictures.each_with_index do |picture, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
        <div class="carousel-image">
          <%= cl_image_tag picture.key, height: 600 %>
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#show-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#show-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- some cmment -->
