
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/9295/vintage-music-business-shop.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1><strong>Reuseful</strong></h1>
    <br>
    <p><strong>MAKE SECOND HAND YOUR FIRST CHOICE!</strong></p>
    <div class=”field_container”><label>Post Code</label><input type=”text” name="postcode" id="postcode" /></div>
    <button class="favorite styled" type="button">
      Begin
    </button>
  </div>
</div>

<div class="container-cards">
  <h2 class="text-center">How it works</h2>
  <div class="cards">
    <div class="card">
      <img src="https://thumbs.dreamstime.com/b/profile-member-icon-special-red-square-button-profile-member-icon-special-red-square-button-reflected-abstract-illustration-105892065.jpg" alt="profile-image">
      <h4>Create your profile</h4>
      <p></p>
    </div>

    <div class="card">
      <img src="https://thumbs.dreamstime.com/b/moving-office-box-full-stuff-white-background-59759004.jpg" alt="">
      <h4>Select any item</h4>
    </div>

    <div class="card">
      <img src="https://capital.com/files/imgs/glossary/600xx/What-is-Exchange-traded-products-ETP-_0.jpeg" alt="">
      <h4>Book an exchange</h4>
    </div>
  </div>
</div>



<div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>

    </div>
  </div>




