
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/9295/vintage-music-business-shop.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1><strong>Reuseful</strong></h1>
    <br>
    <p><em><strong>MAKE SECOND HAND YOUR FIRST CHOICE!</strong></em></p>
    <div class=”field_container”><label>Post Code</label><input type=”text” name="postcode" id="postcode" /></div>
    <button class="favorite styled"
        type="button">
    Begin
</button>


  </div>
</div>



