<div class="card">
  <img src="https://i.imgur.com/1gvIM5J.jpg" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="title">Location</p>
  <p class ="title-exchange">Number of items</p>
  <div class="links">
  <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
  <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
  <p class = "button-t"><button>Contact</button></p>
</div>
</div>
