.avatar {
  width: 40px;
  border-radius: 50%;
  border: white 1px solid;
}
.avatar-large {
  width: 75px;
  border-radius: 50%;
  border: white 1px solid;
  margin-top: 20px;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
