$main-font: sans-serif;
$content-font: sans-serif;
$h3-font: sans-serif;
$main-color: black;
$icon-color: #95e1d3;

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.h40 {
  height: 40px;
}

.main-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: $main-font;
  color: $main-color;
  background-color: #e6e8e6;
  height: 80px;
  .header-wrapper {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-top: 1em;
    .main-logo {
      float: left;
      font-weight: 700;
      font-size: 1.875em;
      margin-bottom: 23px;
    }
  }
}

.notification {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: -6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  bottom: 40px;
}


.main-menu {
  margin: 0;
  float: right;
  text-align: center;
  position: relative;
  li {
    display: inline-block;
    padding: 0.75em 1.875em;
    a {
      padding-bottom: 0.75em;
      margin-right: 10px;
      text-transform: uppercase;
      color: $main-color;
      font-size: 0.875em;
      transition: .3s;
      &:hover {
        border-bottom: 0.1875em solid #575D90;
        text-decoration: none;
      }
      // span {font-weight: bold;}
    }
    &:last-child {padding: 0.75em 0;}
    &:nth-child(6) a:hover, &:last-child a:hover {border: none;}
  }
}
