.listings a:hover {
  text-decoration: none;
  font-weight: bold;
  color: white;
}


.profile-header {
  background-color: #263062;
  border-radius: 8px 8px 0px 0px;
  color:white;
}

.profile {
  border: 2px solid #263062;
  border-radius: 10px;
  box-shadow : 5px 5px 15px 5px rgba(0,0,0,0.21);
}

.listings {
  box-shadow : 5px 5px 15px 5px rgba(0,0,0,0.21);
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 8px 15px;
  h6, p {
    margin: 0px;
  }
}

.edit-profile {
  padding: 10px;
  margin: 18px 0;
  background-color: #263062;
  color: white;
  border-radius: 10px;
}

.profile-footer {
  h6 {
    margin-bottom:24px;
  }
}
